{% extends "layout.html" %}

{% block body %}

<form action="/register" method="post">
    <input autocomplete="off" autofocus placeholder="Name" name="name" type="text">
    <select name="sport">
        <option disabled selected>Sports</option>
        {% for sport in sports %}
        <option value="{{sport}}">{{sport}}</option>
        {% endfor %}
    </select>
    <button type="submit">Register</button>
</form>
<br><br>
<button><a href=registrants>show registransts</a></button>

{% endblock %}